<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - apppracticando</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
<style>
        .imgsetting {
            border-radius: 50%;
            height: 50%;
            width: 50%;
            float: left;
            margin-left: 17px;
        }

        .fa-flag {
            margin-top: 20px;
        }

        .fa-eye {
            margin-top: 20px;
        }

        .col-lg-4 p {
            font-size: 2vmin;           
        }     
 
</style>

</head>
<body>

<header>
<div class="container text-center ourservices mt-0">
        <div class="row rowsetting">
            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto ">
                <img src="~\imagenes\mapa2.jpg">
                <img src="https://imagenestotales.com/wp-content/uploads/2018/04/tacjuedi020-748x1024-2.png">
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto ">
                <div class="imgsetting d-block m-auto"><i class="fas fa-flag fa-3x text-white"></i>

                </div>
                <h4>PERU FAILS0</h4>

            </div>
        </div>
</div>    

         <h1>PERU FAILS2</h1>

        <div class="text-center">
            <h1 class="display-4">PERU FAILS3</h1>
        </div>
            <br><br>
        <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">Pagina principal</button>
        <button type="button" class="btn btn-primary">Subir fail</button>
        <button type="button" class="btn btn-primary">Crear Cuenta</button>
        <button type="button" class="btn btn-primary">Iniciar Sesión</button>
        </div> 
       @* 
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">apppracticando</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    *@

    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - apppracticando - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
