@model Comentario


<form method="POST">
    <div class="form-group">
        <label asp-for="texto">Comentario:</label>
        <textarea asp-for="texto" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Subir Comentario</button>

</form>
